body,html
{
margin:0;
padding:0;
font-family: "open sans",arial,sans-serif;
}

.tlo {
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 100;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;	
	background-size:cover;
	background-image: url(tropic.jpg);
	}
	
.kontener {	
    max-width: 1360px;
    margin: 20px auto 0px;
    -webkit-transform: translateZ(0);
	}
	
.panelLeft {
	margin-top: 0px;
	width: 320px;
	height: 100%;
	text-align: left;
	float: left;
	cursor:default;
	}

	
.panelRight {
	cursor:default;
	margin-left: 320px;
	height: 100%;
	overflow: hidden;
	}
	
.panelRightInside {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 30px;
	}
	
.title {
	margin: 20px;
	}
	
.napis_logo
	{
	margin: 0px auto 0px;
	color: #ffffff;
	display: block;
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
	font-size: 24px;
	letter-spacing: 10px;
	font-weight: bold;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
	}
	
.rodzinka {
	border-style: solid;
    border-width: 1px;
	border-color: rgba(240, 240, 240, 0.5);
	margin-bottom: 30px;
	color: #ffffff;
	}

#uzytkownik_grupa {
	font-weight: bold;
	}

.uzytkownik {
	margin: 10px;
	height: 30px;
    position:relative;
	font-size: 18px;
	letter-spacing: 10px;
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
	}
	
.uzytkownik:hover {
	filter:alpha(opacity=90);
	opacity: 0.9;
	-moz-opacity:0.9;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
	}
	
.lista {
	margin-bottom:50px;
	}

.lista_title
	{
	text-align: center;
	margin: 20px auto 20px;
	color: #ffffff;
	display: block;
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
	font-size: 24px;
	letter-spacing: 10px;
	font-weight: bold;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
	}
	
	
.item_bar {
	height: 30px;
	position:relative;
	display: block;
	margin: 10px;
	color: #ffffff;
	border-style: solid;
    border-width: 1px;
	border-color: rgba(240, 240, 240, 0.5);
    background: rgba(120, 120, 120, 0.3);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
	}
	
.item {
	margin: 5px;
	height: 20px;
	font-weight: bold;
    background: rgb(120, 120, 120); /* Fallback for older browsers without RGBA-support */
    background: rgba(120, 120, 120, 0.5);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
	}
	
.item:hover, .add:hover {  
	background: rgba(220, 220, 220, 0.6); 
	}
	
.add {
	text-align: center;
	}
	
.sho{
	width:50px;
	text-align: center;
	float: none; display: inline-block;
	}
	
.mid {
	width:100px;
	text-align: center;
	float: none; display: inline-block;
	}
	
.lon {
	width:400px;
	padding-left: 20px;
	text-align: left;
	float: none; display: inline-block;
	}
	
	
	
.panelEdit {
	position: absolute;
	z-index:10000;
	width: 50%; /* Default */
	/* Center the dialog */
  	top: 50%;
  	left: 50%;
 	 transform: translate(-50%, -50%);
 	 -webkit-transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
  	 box-shadow: 4px 4px 80px #000;
  	 background: rgba(190, 190, 190, 0.9);
  	border-style: solid;
    border-width: 1px;
	border-color: rgba(240, 240, 240, 0.5);
	color: white;
	font-weight: bold;
	}

.panelEdit_title {
	text-transform: uppercase;
	text-align: center;
	margin: 10px;
	}

.edycja_buttons {
	text-transform: uppercase;
	text-align: center;
	margin: 5px;
	}
	
.edycja_buttons, button {
	margin: 5px;
	}
	
.panelUsun {
	position: absolute;
	z-index:10000;
	width: 30%; /* Default */
	/* Center the dialog */
  	top: 50%;
  	left: 50%;
 	 transform: translate(-50%, -50%);
 	 -webkit-transform: translate(-50%, -50%);
  	-moz-transform: translate(-50%, -50%);
 	 background-color: #fff;
  	 box-shadow: 4px 4px 80px #000;
	}
	
.pagination {
	margin-left: 20px;
	color: #ffffff;
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
	}
	
.pagination:hover {
	filter:alpha(opacity=90);
	opacity: 0.9;
	-moz-opacity:0.9;
	}